@import url("./main.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
.box {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 20dvb;
    vertical-align: middle;
}

.box-item {
    width: auto;
    height: auto;
    padding: 2dvb;
    border-radius: 5%;
    border-style: solid;
    border-color: aquamarine;
    border-width: 1dvb;
}