@import url("./main.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

.pill_holders {
    display:flex;
    justify-content: space-evenly;
    align-self: center;
}

.pill_container{
    height: 15dvb;
    width: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    border: 0rem;
    border-top: 0.5rem;
    border-color: var(--main-color-active);
    border-style: solid;
}

.pill_text {
    color: var(--main-color-white)
}

.pill_text::after{
    background-size: 10px 20px;
    display: inline-block;
    width: 10px; 
    height: 20px;
    content:"";
    background-image: url('../assets/discord.svg');
}