@import url("./main.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    color: var(--main-color-white);
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.main {
    margin: 5dvh auto;
    min-width: auto;
    max-width: 150dvh;
    height: auto;
    width: auto;
    padding: 2dvh;
    overflow: hidden;
    border-radius: 1%;
    text-align: center;
}

.logo_intro {
    margin: 1dvh;
}

.main_pfp {
    border-radius: 50%;
    max-width: 40vh;
    max-height: 40vh;
}

.main_text {
    margin: 2rem;
    padding: 0.5rem;
}